{% extends "templates/web.html" %}

{% block page_content %}

<h1>{{ challenge_name }}</h1>

<div class="text-center mt-5">
    <h4> {{ challenge_name }}</h4>
    <div class="container text-base py-3" style="background-color: #ececec;">
        <p> {{ description }}</p>
    </div>
    
    <p> Last Date : {{ doc.last_date }} </p>

    <!-- <a class="btn btn-primary mt-2" href="/{{ submission_url }}/new?challenge={{ challenge_url}}"> Apply</a> -->
    <a class="btn btn-primary mt-2" href="{{ submission_url }}"> Apply</a>
</div>

{% endblock %}

<!-- this is a sample default web page template -->