<!-- <div>
	<div class="card">
		<div class="card-body mt-2">
			<h5 class="card-title"> {{ doc.challenge_name }}</h5>
			<p class="card-text"> {{ doc.description }}</p>
			<p class="card-text"> Last date: {{ doc.last_date }}</p>
			<a href="/{{ doc.route }}" class="btn btn-primary"> Apply </a>
		</div>
	</div>
</div> -->
{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/aikyam/css/style.css">
<style>
	.result{
		display: grid;
		grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
		grid-gap: 2rem;
		align-items: center;
	}
</style>
{% endblock %}

<div class="live-courses">
	<div class="course-cards-parent cards-parent">
		<div class="common-card-style course-card" data-course="introduction-to-erpnext"
			data-rating="4.6923076923076925" data-enrollment="7460" data-creation="2021-08-12 15:44:05.206560">

			<div class="course-image " style="background-image: url('{{doc.photo }}') ;">
				<div class="course-tags">

					<div class="course-card-pills">Beginner</div>

				</div>

			</div>

			<div class="course-card-content">
				<div class="course-card-meta">


					

					<div class="vertically-center">
						<svg class="icon  icon-md">
							<use class="" href="#icon-users">
							</use>
						</svg>
						7460
					</div>



					

				</div>

				<div class="course-card-title">
					{{ doc.challenge_name }}
				</div>

				<div class="short-introduction">
					{{ doc.short_description }}
				</div>
				<div class="pb-2">
					Last date: {{ doc.last_date }}
				</div>



				<div class="course-card-footer">

					<div class="course-card-instructors">





						



						<a class="button-links btn btn-primary" href="/users/reema">
							<span class="course-instructor">

								Apply 

							</span>
						</a>
					</div>

				</div>



				<a class="stretched-link" href="/{{ doc.route }}"></a>


			</div>
		</div>
	</div>
</div>